<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:security="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

<security:http auto-config="true" use-expressions="true">
<security:csrf disabled="true"/>
<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
<security:intercept-url pattern="/cart/**" access="hasRole('ROLE_USER')"/>
<security:intercept-url pattern="/**" access="permitAll"/>
<security:form-login  login-page="/login" 
username-parameter="j_username" password-parameter="j_password" 
login-processing-url="/j_spring_security_check" default-target-url="/home"
authentication-failure-url="/loginerror"/>
<security:logout logout-url="/j_spring_security_logout" logout-success-url="/log-out"/>
</security:http>

<security:authentication-manager>
<security:authentication-provider>
<security:jdbc-user-service data-source-ref="dataSource"
users-by-username-query="select email,password,enabled from USER_S191174100121  where email=?"
authorities-by-username-query="select user_email,role from  AUTHORITIES_S191174100121 where user_email=?"/>
</security:authentication-provider>
</security:authentication-manager>
</beans>